body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  background-color: #ddd;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.app {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem;
}

.app h1,
h2,
p {
  text-align: center;
}

.clock-options {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

.number-control {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.clock {
  padding: 1rem 0;
}

.clock-controls {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

#time-left {
  font-weight: bold;
  font-size: 3rem;
  margin: 0;
}
